<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <application>
    <service
      android:name="expo.modules.scamgraphcaller.ScamGraphCallScreeningService"
      android:permission="android.permission.BIND_SCREENING_SERVICE"
      android:exported="true">
      <intent-filter>
        <action android:name="android.telecom.CallScreeningService" />
      </intent-filter>
    </service>
  </application>
</manifest>
